* {
    background-color: rgb(213, 210, 229);
    font-size: small;
}

.app h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    color: #000000;
}
.app h2 {
    padding-top: 150px;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.app nav h2 {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
/*
.app nav {
    padding: 20px;
    display: inline-block;
}
  

.app input{
    color: rgb(0, 204, 255);
    background-color: rgb(218, 170, 110);
    size: 50px;
}*/
.app nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.app .nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.app .nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.app .nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.app .nav ul li a:hover::after {
    width: 100%;
}
.app input {
    width: 40%;
    height: 30px;

    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(196, 206, 255);
    font-size: 16px;
    resize: none;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.app .btn {
    width: 40%;
    margin: 0 auto;
    display: block;
    font-size: 20px;

    height: 30px;
    background-color: black;
    color: #ff004f;
}
.app h3 {
    font-size: 30px;
    color: #ff004f;
}
